# Ignore node_modules directory containing installed dependencies
node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build output directories
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore temporary files created by editors
*.swp
*.swo
.idea/
.vscode/

# ignore rust files
/target

# ignore log directories
/logs

# ignore config local
config.local

# temporary ignore
CHANGELOG
